body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:480px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:27px;
  top:372px;
  width:424px;
  height:35px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:35px;
}
#u1 {
  position:absolute;
  left:2px;
  top:10px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:91px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:91px;
}
#u4 {
  position:absolute;
  left:2px;
  top:38px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:192px;
  top:39px;
  width:97px;
  height:33px;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:21px;
  top:38px;
  width:19px;
  height:35px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:35px;
}
#u9 {
  position:absolute;
  left:2px;
  top:10px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:36px;
  top:415px;
  width:90px;
  height:30px;
  font-size:18px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u10_img.selected {
}
#u10.selected {
}
#u11 {
  position:absolute;
  left:2px;
  top:4px;
  width:86px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:60px;
  top:770px;
  width:360px;
  height:40px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u13 {
  position:absolute;
  left:34px;
  top:101px;
  width:412px;
  height:260px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:260px;
}
#u14 {
  position:absolute;
  left:2px;
  top:122px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:41px;
  top:380px;
  width:69px;
  height:20px;
  font-size:17px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:136px;
  top:415px;
  width:90px;
  height:30px;
  font-size:18px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u17_img.selected {
}
#u17.selected {
}
#u18 {
  position:absolute;
  left:2px;
  top:4px;
  width:86px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:236px;
  top:415px;
  width:90px;
  height:30px;
  font-size:18px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u19_img.selected {
}
#u19.selected {
}
#u20 {
  position:absolute;
  left:2px;
  top:4px;
  width:86px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:336px;
  top:415px;
  width:109px;
  height:30px;
  font-size:18px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u21_img.selected {
}
#u21.selected {
}
#u22 {
  position:absolute;
  left:2px;
  top:4px;
  width:105px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:36px;
  top:455px;
  width:154px;
  height:30px;
  font-size:18px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
}
#u23_img.selected {
}
#u23.selected {
}
#u24 {
  position:absolute;
  left:2px;
  top:4px;
  width:150px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:209px;
  top:455px;
  width:90px;
  height:30px;
  font-size:18px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u25_img.selected {
}
#u25.selected {
}
#u26 {
  position:absolute;
  left:2px;
  top:4px;
  width:86px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:313px;
  top:455px;
  width:131px;
  height:30px;
  font-size:18px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u27_img.selected {
}
#u27.selected {
}
#u28 {
  position:absolute;
  left:2px;
  top:4px;
  width:127px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:108px;
  top:495px;
  width:263px;
  height:30px;
  font-size:18px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:30px;
}
#u29_img.selected {
}
#u29.selected {
}
#u30 {
  position:absolute;
  left:2px;
  top:4px;
  width:259px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:53px;
  top:535px;
  width:263px;
  height:30px;
  font-size:18px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:30px;
}
#u31_img.selected {
}
#u31.selected {
}
#u32 {
  position:absolute;
  left:2px;
  top:4px;
  width:259px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:332px;
  top:535px;
  width:90px;
  height:30px;
  font-size:18px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u33_img.selected {
}
#u33.selected {
}
#u34 {
  position:absolute;
  left:2px;
  top:4px;
  width:86px;
  word-wrap:break-word;
}
#u33_ann {
  position:absolute;
  left:415px;
  top:531px;
  width:1px;
  height:1px;
}
#u35 {
  position:absolute;
  left:27px;
  top:575px;
  width:424px;
  height:165px;
  overflow:hidden;
  visibility:hidden;
}
#u35_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:165px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u35_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u36 {
  position:absolute;
  left:1px;
  top:2px;
  width:420px;
  height:160px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:160px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
