body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:480px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:91px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:91px;
}
#u2 {
  position:absolute;
  left:2px;
  top:38px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:192px;
  top:40px;
  width:97px;
  height:33px;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:110px;
  top:170px;
  width:260px;
  height:180px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:180px;
}
#u6 {
  position:absolute;
  left:2px;
  top:82px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:50px;
  top:380px;
  width:380px;
  height:70px;
  font-size:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:70px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:60px;
  top:560px;
  width:360px;
  height:40px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
